@import "mixins.scss";

.heading-1-text{
  font-family: "Yeseva One", serif;
  @include fluid-type(320px, 1900px, 30px, 36px);
  letter-spacing: 0.05vw;
}

.heading-2-text{
  @include fluid-type(320px, 1900px, 14px, 19px);
  font-family: Montserrat, serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1vw;
}

.primary-text{
  font-family: Montserrat, serif;
  font-weight: 500;
  @include fluid-type(320px, 1900px, 16px, 22px);
  letter-spacing: -0.01vw;
  line-height: 155%;
}

//Buttons

.more-text-button {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  @include fluid-type(320px, 1900px, 14px, 16px);
  text-decoration: none;
  color: white;
  border-bottom: 2px solid #d68c45;
  width: fit-content;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
  &:hover {
    padding-bottom: 3px;
  }
}

.moreButton {
  font-family: Montserrat, serif;
  text-transform: uppercase;
  font-weight: 700;
  @include fluid-type(320px, 1900px, 14px, 16px);
  color: #fdfdf9;
  background-color: #195131;
  text-decoration: none;
  padding: 1em 3em;
  width: fit-content;
  transition: 0.2s;

  &:hover {
    background-color: #033319;
  }

  &:active {
    background-color: #022411;
  }
}
