@import "mixins.scss";

.heading-1-text{
  font-family: "Yeseva One", serif;
  @include fluid-type(320px, 1900px, 30px, 36px);
  letter-spacing: 0.05vw;
}

.heading-2-text{
  @include fluid-type(320px, 1900px, 14px, 19px);
  font-family: Montserrat, serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1vw;
}

.primary-text{
  font-family: Montserrat, serif;
  font-weight: 500;
  @include fluid-type(320px, 1900px, 16px, 22px);
  letter-spacing: -0.01vw;
  line-height: 155%;
}
